<div class="hero-unit">
    <h1>'Allo, 'Allo!</h1>

    <p>You now have</p>
    <ul>
        <li ng-repeat="thing in awesomeThings">{{thing}}</li>
    </ul>
    <p>installed.</p>

    <h3>Enjoy coding! - Yeoman</h3>

    <label>main</label>
    <input type="text" ng-model="data.message"/>
    <h3>{{ data.message }}</h3>

    <div ng-controller="FirstCtrl">
        <label>first</label>
        <input type="text" ng-model="data.message"/>
        <h3>{{ data.message }}</h3>
    </div>
    <div ng-controller="SecondCtrl">
        <label>second</label>
        <input type="text" ng-model="data.message"/>
        <h3>{{ reversedMessage(data.message) }}</h3>
    </div>
</div>
